
@layer demo{
    .compare{
        display: grid;

        > * {  /* grid pile All, give all of the direct children the same area, and they're going to stack on top of each other*/
            grid-area :1 / 1;
        }

       > section {
            display: grid;
            place-content: center;
        }

        .before {
            background: linear-gradient(to right, rgb(169, 6, 87), rgb(164, 14, 205));
            mask:linear-gradient(to right, #000 0, var(--pos, 50%), #0000 0);
        }

        .after {
            background: linear-gradient(to right, rgb(43, 3, 77), rgb(0, 255, 238));
            mask:linear-gradient(to right, #0000 0, var(--pos, 50%), #000 0);
        }

        > input[type="range"]{
            z-index: 1;
            appearance: none;
            background:none;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;;
        }

        

        & ::-webkit-slider-thumb{
            appearance: none;
            width: 4px;
            height: 100dvh;
            background-color: CanvasText;
        }

        & ::-moz-slider-thumb{
            appearance: none;
        }
    }
    
    & img {
        max-inline-size: 100%;
        max-block-size: 80dvh;
        border-radius: 5rem;
    }
}

@layer demo.support{
    *{
        box-sizing: border-box;
        margin:0;
    }

    html {
        block-size: 100%;
        color-scheme: dark light;
    }

    body{
        min-block-size: 100%;
        font-family:system-ui, sans-serif;
        display: grid;
    }
}